


.questions-container{
    display: flex;
    flex-direction: column;
    border: 1px solid rgb(0, 0, 0);
    overflow: hidden;
    margin: 10px;
    border-radius: 20px;
    

}

.question{
    padding: 20px;
    border-top: 1px solid lightgray;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.options-container{
    display: flex;
    gap: 20px;
    
}

.form-name{
    text-align: center;
    font-size: 2rem;
}

.options-list{
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
}

.button-container{
    padding: 20px;
    display: flex;
    gap: 20px;
  
}
.question-delete-button{
    margin-left: auto;
}

.add-question-button{
    position: sticky;
    top: 20px;
    
}
